<div class="container mb-3">
  <div class="my-4 text-center">
    <fa-icon [icon]="'passport'" size="6x"></fa-icon>
  </div>
  <div class="m-auto" style="max-width: 510px;">
    <h3 class="fs-3 fw-light text-center">Reset your password</h3>
    <div class="alert alert-dark rounded-3">
      <form [formGroup]="passwordResetForm" (ngSubmit)="sendPasswordResetEmail()">
        <div class="mb-3">
          <label class="form-label">Enter your user account's verified email address and we will send you a password reset link.</label>
          <input class="form-control" type="email" name="email" formControlName="email" autofocus
            [ngClass]="setValid(email)">
          <div class="invalid-feedback">
            <div *ngIf="email.errors && email.errors['required']">
              Email is required.
            </div>
            <div *ngIf="email.errors && email.errors['maxlength']">
              Email must be as maximum 100 characters long
            </div>
            <div *ngIf="email.errors && email.errors['email']">
              Email must be on the format example@email.com
            </div>
          </div>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success text-white" [disabled]="!passwordResetForm.valid">Send password reset mail</button>
        </div>
      </form>
    </div>
  </div>
</div>
