<div class="d-flex flex-row align-items-center py-3 border-bottom">
  <div class="flex-fill">
    <search
      #search_input
      searchPlaceholder="Find models..."
      [attributes]="[
        { name: 'name', title: 'Name', type: 'string', simple: true },
        { name: 'tag', title: 'Tag', type: 'string', simple: true },
        { name: 'version', title: 'Version', type: 'string', simple: true },
        { name: 'createdAt', title: 'Created at', type: 'Date' }
      ]"
      [fixedAttributes]="[
        { name: 'owner.username', criteria: 'eq', value: profile.user()?.username, enabled: profile.user() !== null }
      ]"
      [(search)]="modelsSearch"
      (searchChange)="getModels()"
      [advanced]="false"
      [firstSearch]="true"
    ></search>
  </div>
  <div *ngIf="profile.user() && profile.user()?.id == auth.user?.id" class="flex-shrink-0 ms-3">
    <a class="btn btn-sm btn-success" (click)="newModel()"> <fa-icon [icon]="'diagram-project'"></fa-icon> New </a>
  </div>
</div>
<div class="text-center mt-3" *ngIf="!modelsLoading && models.length <= 0">
  <fa-icon class="fa-fade" [icon]="'magnifying-glass'" size="3x"></fa-icon>
  <p class="mt-2">No models found</p>
</div>
<ngx-masonry
  #masonry
  [options]="{ percentPosition: true, horizontalOrder: true }"
  [ordered]="true"
  class="row"
  [class.loading]="modelsLoading"
  *ngIf="models.length > 0"
>
  <div ngxMasonryItem class="col-12 masonry-item" *ngFor="let model of models">
    <div class="p-3 border-bottom">
      <model-card
        [model]="model"
        [masonry]="masonry"
        [loading]="submitLoading.includes(model.id!)"
        (onDelete)="getModels()"
      ></model-card>
    </div>
  </div>
</ngx-masonry>
<ngb-pagination
  *ngIf="modelsCount > 0"
  class="d-flex justify-content-center mt-3"
  [(page)]="modelsPage"
  [pageSize]="modelsPageSize"
  [collectionSize]="modelsCount"
  (pageChange)="getModels()"
  size="sm"
  [maxSize]="3"
  [rotate]="true"
  [ellipses]="true"
  [boundaryLinks]="true"
>
</ngb-pagination>
