//this allow the use of bootstrap and bootstrap dark variables, functions, utilities, mixins and custom variables
@import 'variables.scss';

.sprotty {
  > .inspector {
    background-color: rgba($body-bg, 0.7);
    color: $body-color;
    border-color: rgba($body-bg, 0.7);
  }

  > .inspector table tr {
    color: $body-color;
  }
}

html[data-bs-theme='dark'] .sprotty {
  > .inspector {
    background-color: rgba($body-bg-dark, 0.7);
    color: $body-color-dark;
    border-color: rgba($body-bg-dark, 0.7);
  }

  > .inspector table tr {
    background-color: $body-tertiary-bg-dark;
    color: $body-color-dark;
  }
}

.sprotty-graph {
  .node .label {
    fill: $body-bg;
  }

  .sprotty-edge:not(.selected),
  .sprotty-edge.feedback-edge {
    stroke: $body-bg-dark;
  }

  .sprotty-edge .label {
    fill: $body-bg-dark;
  }
}

html[data-bs-theme='dark'] .sprotty-graph {
  .node .label {
    fill: $body-bg-dark;
  }

  .sprotty-edge:not(.selected),
  .sprotty-edge.feedback-edge {
    stroke: $body-bg;
  }

  .sprotty-edge .label {
    fill: $body-bg;
  }
}
