<div class="modal-content" *ngIf="element">
  <div class="modal-header">
    <h5 class="modal-title">
      <fa-icon [icon]="'palette'"></fa-icon> Edit {{ element.type }}
    </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [class.loading]="elementLoading" [formGroup]="elementForm" (ngSubmit)="updateElement()">
      <div class="row">
        <label class="col-auto col-form-label">
          Name
        </label>
        <div class="col">
          <input class="form-control bg-dark-subtle" type="text" name="name" formControlName="name" autocomplete="off"
            [ngClass]="setValid(name)" />
          <invalid-feedback [control]="name" name="Name"
            [messages]="{ pattern: 'Name can only have characters and numbers' }"></invalid-feedback>
        </div>
      </div>
      <div class="w-100 mb-3"></div>
      <div class="row" *ngVar="{ left_selected: 'gmodel', right_selected: 'inspector' } as tabs">
        <div class="col-12 col-lg-5 pe-lg-0 ps-lg-2">
          <ul class="nav nav-tabs">
            <li class="nav-item flex-fill">
              <a class="nav-link text-center pe-pointer text-body" [class.active]="tabs.left_selected == 'gmodel'"
                (click)="tabs.left_selected = 'gmodel'">Graphics</a>
            </li>
            <li class="nav-item flex-fill">
              <a class="nav-link text-center pe-pointer text-body" [class.active]="tabs.left_selected == 'amodel'"
                (click)="tabs.left_selected = 'amodel'">Abstract</a>
            </li>
          </ul>
          <div class="tab-content overflow-auto pt-1 border-start border-end" style="height: calc(100vh - 330px)">
            <div class="tab-pane fade" [ngClass]="{ 'show active': tabs.left_selected == 'gmodel' }">
              <json-model-tree [jsonModel]="gModel"
                (nodeSelected)="tabs.right_selected = 'inspector'"></json-model-tree>
            </div>
            <div class="tab-pane fade" [ngClass]="{ 'show active': tabs.left_selected == 'amodel' }">
              <json-model-tree [jsonModel]="aModel"
                (nodeSelected)="tabs.right_selected = 'inspector'"></json-model-tree>
            </div>
          </div>
        </div>
        <div class="col col-lg-7">
          <div class="row">
            <div class="col-12 order-lg-last">
              <div class="pb-2 pb-lg-0 mt-2">
                <ul class="nav nav-tabs">
                  <li class="nav-item flex-fill">
                    <a class="nav-link text-center pe-pointer text-body"
                      [class.active]="tabs.right_selected == 'inspector'"
                      (click)="tabs.right_selected = 'inspector'">Inspector</a>
                  </li>
                  <li class="nav-item flex-fill">
                    <a class="nav-link text-center pe-pointer text-body" [class.active]="tabs.right_selected == 'data'"
                      (click)="tabs.right_selected = 'data'">Data</a>
                  </li>
                </ul>
                <div class="tab-content overflow-auto pt-2 border-start border-end overflow-auto px-2"
                  style="height: calc(100vh - 330px - 258px)">
                  <div class="tab-pane fade" [ngClass]="{ 'show active': tabs.right_selected == 'inspector' }">
                    <jsonforms *ngIf="gModelSelectedNode"
                      [class.d-none]="tabs.left_selected != 'gmodel' && gModelSelectedNode" [data]="gModelSelectedNode"
                      [schema]="gModel.getNodeSchema(gModelSelectedNode)"
                      [uischema]="gModel.getNodeUISchema(gModelSelectedNode)" [renderers]="jsonFormsRenderers"
                      (dataChange)="onGModelNodeChange($event)">
                    </jsonforms>
                    <jsonforms *ngIf="aModelSelectedNode"
                      [class.d-none]="tabs.left_selected != 'amodel' && aModelSelectedNode" [data]="aModelSelectedNode"
                      [schema]="aModel.getNodeSchema(aModelSelectedNode)"
                      [uischema]="aModel.getNodeUISchema(aModelSelectedNode)" [renderers]="jsonFormsRenderers"
                      (dataChange)="onAModelNodeChange($event)">
                    </jsonforms>
                  </div>
                  <div class="tab-pane fade" [ngClass]="{ 'show active': tabs.right_selected == 'data' }">
                    <jsonforms *ngIf="defaultModel" [data]="defaultModel" [schema]="aModelJsonSchema"
                      [uischema]="aModelUISchema" [renderers]="jsonFormsRenderers"
                      (dataChange)="onDefaultModelChange($event)" [ajv]="ajv">
                    </jsonforms>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 my-0">
              <div class="align-content-center text-center bg-secondary rounded-2" style="height: 250px;">
                <model-editor #showcase [showcaseMode]="true" [language]="showcaseLanguageElement"
                  editMode="readonly"></model-editor>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-default"
      (click)="activeModal.dismiss('Close click')">Close</button>
  </div>
</div>