<div class="tree-root text-nowrap">
  <ng-container [ngTemplateOutlet]="treeNode" [ngTemplateOutletContext]="{ node: model, expanded: true, path: '' }">
  </ng-container>
</div>

<ng-template #treeNode let-node="node" let-expanded="expanded" let-path="path">
  <ng-container *ngVar="{ expanded: expanded } as settings">
    <div class="node-placeholder-container" (dragleave)="onNodeDragLeave($event)">
      <li #placeholder class="node-placeholder" *ngIf="!jsonModel.checkNodeCanHaveFields(jsonModel.getNodeParent(path))"
        [attr.data-path]="path" (dragover)="onNodeDragOver($event, path, node)" (drop)="onNodeDrop($event, path, node)">
      </li>
      <ng-container [ngTemplateOutlet]="treeButton"
        [ngTemplateOutletContext]="{ node: node, settings: settings, path: path }">
      </ng-container>
    </div>
    <ul class="node-children" [class.expanded]="settings.expanded">
      <ng-container *ngIf="config?.nodes?.[node.type]?.fields">
        <li #nodeContainer class="node-container"
          *ngFor="let field of config?.nodes?.[node.type]?.fields; let i = index" [attr.data-path]="path + '/' + field"
          [class.mt-1]="i == 0"
          [class.pb-1]="!node[field] || (!jsonModel.getNodeChildren(node[field])?.length && !jsonModel.checkNodeCanHaveFields(node[field]))">
          <label class="ps-4 text-muted">{{ field }}:</label><br>
          <ng-container *ngIf="node[field]" [ngTemplateOutlet]="treeNode"
            [ngTemplateOutletContext]="{ node: node[field], expanded: expanded, path: path + '/' + field }">
          </ng-container>
          <ng-container *ngIf="!node[field]" [ngTemplateOutlet]="treeButton"
            [ngTemplateOutletContext]="{ path: path + '/' + field }">
          </ng-container>
        </li>
      </ng-container>
      <ng-container *ngIf="!config?.nodes?.[node.type]?.fields">
        <li #nodeContainer class="pt-1 node-container"
          *ngFor="let child of jsonModel.getNodeChildren(node); let i = index" [attr.data-path]="path + '/' + i"
          [class.mt-1]="i == 0"
          [class.pb-1]="!jsonModel.getNodeChildren(child)?.length && !jsonModel.checkNodeCanHaveFields(child)">
          <ng-container [ngTemplateOutlet]="treeNode"
            [ngTemplateOutletContext]="{ node: child, expanded: expanded, path: path + '/' + i }">
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </ng-container>
</ng-template>

<ng-template #treeButton let-node="node" let-settings="settings" let-path="path">
  <ng-container>
    <button class="btn btn-sm text-muted no-outline" (click)="settings.expanded = !settings.expanded">
      <fa-icon
        [icon]="jsonModel.checkNodeCanHaveChildren(node) || jsonModel.checkNodeCanHaveFields(node) ? (settings.expanded ? 'caret-down' : 'caret-right') : 'minus'">
      </fa-icon>
    </button>
    <button class="btn btn-sm text-start" [ngClass]="{
        'btn-secondary': node?._selected,
        'btn-outline-secondary': !node?._selected,
        'text-node': node && !node?._selected,
        'text-empty-node': !node
      }" [attr.draggable]="node && path !== ''" (dragstart)="onNodeDragStart($event, path)"
      (dragend)="onNodeDragEnd($event)" (dragover)="onNodeDragOver($event, path, node)"
      (dragenter)="onNodeDragEnter($event, path, node)" (dragleave)="onNodeDragLeave($event)"
      (drop)="onNodeDrop($event, path, node, false)" (click)="onNodeClick(path, node)">
      <ng-container *ngIf="node">
        <fa-icon [icon]="jsonModel.getNodeIcon(node)"></fa-icon>
        {{ node.type }}<br>
        <span class="small opacity-50">
          {{ jsonModel.getNodeDescriptor(node) }}
        </span>
      </ng-container>
      <ng-container *ngIf="!node">
        empty
      </ng-container>
    </button>
    <span class="ms-1">
      <div class="d-inline" ngbDropdown display="dynamic" placement="bottom-start" autoClose="true" container="body">
        <button class="btn btn-sm p-0 text-body no-outline dropdown-toggle-no-arrow"
          *ngIf="jsonModel.checkNodeCanHaveChildren(node)" ngbDropdownToggle>
          <fa-icon [icon]="'plus'"></fa-icon>
        </button>
        <div class="dropdown-menu shadow-sm" ngbDropdownMenu>
          <span class="d-block p-3 pt-0 pb-0 small text-muted">
            Add node
          </span>
          <ng-container *ngFor="let type of jsonModel.getNodeTypes()">
            <div class="dropdown-divider m-1"></div>
            <a ngbDropdownItem class="small pe-pointer" (click)="onNodeAdd(path, type)">
              <fa-icon [icon]="jsonModel.getNodeTypeIcon(type)"></fa-icon> {{ type }}
            </a>
          </ng-container>
        </div>
      </div>
      <button class="btn btn-sm p-0 text-body no-outline" *ngIf="!jsonModel.checkNodeIsRoot(node)"
        [tp]="remove_node_confirm" [tpInteractive]="true" [tpData]="path" tpTrigger="click" tpPlacement="right">
        <fa-icon [icon]="'xmark'"></fa-icon>
      </button>
      <ng-template #remove_node_confirm let-data="path">
        <button class="btn btn-sm btn-danger p-1 my-1 pe-pointer" (click)="onNodeRemove(path)">
          <fa-icon [icon]="'trash-can'"></fa-icon>
        </button>
      </ng-template>
    </span>
  </ng-container>
</ng-template>