//this allow the use of bootstrap and bootstrap dark variables, functions, utilities, mixins and custom variables
@import "/src/assets/scss/variables.scss";

.tag-edit {
  // margin: 0 0.125rem 0.125rem 0;
  padding: 0.125rem;
}

@include media-breakpoint-up(sm) {
  .tag-edit input,
  .tag-edit select {
    max-width: 7rem;
  }
}

@include media-breakpoint-down(sm) {
  .tag-edit {
    min-width: 100%;
  }
}

.input-tags-placeholder {
  color: $input-placeholder-color;
}

html.dark .input-tags-placeholder {
  color: $input-placeholder-color-alt;
}
