<div class="container mb-3">
  <h1 class="mt-3">Concept</h1>
  <p><b><i>Concept</i></b> promise to be a, dynamic and interoperable model, modelling tool with abstraction concept mapping over ontological knowledge graph, allowing integration of data sources and top, middle, low and application level ontologies.</p>

  <button
    (click)="message.success('Mus pellentesque id sollicitudin mattis si facilisis vel in. Ante finibus ultrices class nullam dis. Pede pulvinar mi sed maecenas dis.', { onlyOne: true })">message</button>
  <button
    (click)="message.success('Mus pellentesque id sollicitudin mattis si facilisis vel in. Ante finibus ultrices class nullam dis. Pede pulvinar mi sed maecenas dis. 2')">message</button>
</div>
