<div class="border-bottom">
  <h2>Users <a class="btn p-0 text-muted border-0" (click)="search_input.onSearch(false)"
      [class.disabled]="usersLoading">
      <fa-icon [icon]="'rotate-right'" size="lg" [animation]="usersLoading ? 'spin-pulse' : undefined"></fa-icon>
    </a>
  </h2>
</div>
<search #search_input searchClass="mt-3" [attributes]="[
    { name: 'username', title: 'Username', type: 'string', simple: true },
    { name: 'role', title: 'Role', type: ['user', 'admin'] },
    { name: 'createdAt', title: 'Created at', type: 'Date' },
    { name: 'emails.address', title: 'Email', type: 'string', simple: true },
    { name: 'primaryEmail.verified', title: 'Verified', type: 'boolean' },
    { name: 'profile.name', category: 'Profile', title: 'Name', type: 'string', color: 'secondary', simple: true },
    { name: 'profile.bio', category: 'Profile', title: 'Bio', type: 'string', color: 'secondary', simple: true },
    { name: 'profile.url', category: 'Profile', title: 'URL', type: 'string', color: 'secondary', simple: true },
    { name: 'profile.location', category: 'Profile', title: 'Location', type: 'string', color: 'secondary', simple: true },
    { name: 'profile.publicEmail.address', category: 'Profile', title: 'Public Email', type: 'string', color: 'secondary', simple: true }
  ]" [(search)]="usersSearch" (searchChange)="getUsers()"></search>
<div class="text-center mt-3" *ngIf="!usersLoading && users.length <= 0">
  <fa-icon class="fa-fade" [icon]="'magnifying-glass'" size="3x"></fa-icon>
  <p class="mt-2">No users found</p>
</div>
<ngx-masonry #masonry [options]="{ percentPosition: true, horizontalOrder: true }" [ordered]="true" class="row mt-3"
  [class.loading]="usersLoading" *ngIf="users.length > 0">
  <div ngxMasonryItem class="col-12 col-md-6 col-lg-4 mb-4 masonry-item" *ngFor="let user of users">
    <user-card [user]="user" [masonry]="masonry" (onDelete)="getUsers()" (onSessionClose)="getUsers()"
      [loading]="submitLoading.includes(user.id!)"></user-card>
  </div>
</ngx-masonry>
<ngb-pagination *ngIf="usersCount > 0" class="d-flex justify-content-center mt-3" [(page)]="usersPage"
  [pageSize]="usersPageSize" [collectionSize]="usersCount" (pageChange)="getUsers()" size="sm" [maxSize]="3"
  [rotate]="true" [ellipses]="true" [boundaryLinks]="true">
</ngb-pagination>