//this allow the use of bootstrap and bootstrap dark variables, functions, utilities, mixins and custom variables
@import '../../../assets/scss/variables.scss';

.language-img {
  width: 80px;
  height: 80px;
  padding: 2px !important;
}

.language-separator {
  height: 4rem;
  width: calc(100vw - 1px);
  margin-left: calc(-50vw + 50%);
  background-color: rgba($body-secondary-bg, 0.7);
}

::ng-deep html[data-bs-theme='dark'] .language-separator {
  background-color: rgba($body-secondary-bg-dark, 0.8);
}

.language-separator-border {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 7.7rem;
  z-index: -1;
}

.language-content {
  margin-top: 1rem;
}

@include media-breakpoint-up(sm) {
  .language-img {
    width: 100px;
    height: 100px;
    padding: 2px !important;
  }
}

@include media-breakpoint-up(md) {
  .language-img {
    width: 200px;
    height: 200px;
    padding: 0.25rem !important;
  }

  .language-content {
    margin-top: -3rem;
  }
}
