<div class="container position-absolute">
  <div class="d-flex flex-row m-0 h-100">
    <div class="flex-grow-1 h-100 p-0">
      <graph [model]="model" [instance]="instance" width="100%" height="100%" (cellSelected)="updateInspector($event)">
      </graph>
    </div>
    <div class="bg-body-secondary h-100 p-0 overflow-hidden overflow-y-auto w-inspector">
      <div>
        <button type="button" class="btn btn-danger m-2 me-0" (click)="changeTest()">
          change model
        </button>
        <button type="button" class="btn btn-success m-2 me-0" (click)="updateTest()">
          update
        </button>
      </div>
      <inspector></inspector>
    </div>
  </div>
</div>
