//this allow the use of bootstrap and bootstrap dark variables, functions, utilities, mixins and custom variables
@import '../../../../assets/scss/variables.scss';

::ng-deep .sprotty {
  position: relative;
  width: calc(100% - 1px);
  height: calc(100% - 1px);

  > .tool-palette {
    position: absolute;
    top: 10px;
    right: 50px;
    min-width: 200px;
  }

  > .minimize-palette-button {
    top: 10px;
    right: 25px;
  }

  > .inspector {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    max-height: calc(100% - 40px);
    overflow-x: hidden;
    overflow-y: auto;
    transform: scaleY(1);
    transform-origin: top;
    z-index: 1000;
    background-color: $body-bg;
    user-select: none;
    color: $body-color;
    transition: transform 0.2s ease;
    border: 10px solid;
    border-color: $body-bg;
  }

  > .inspector.collapsed {
    transform: scaleY(0);
  }

  > .inspector table tr {
    color: $body-color;
  }

  > .inspector .vertical-layout {
    gap: 0px;
  }

  > .inspector .mat-mdc-form-field-infix {
    margin-top: 20px;
  }

  > .inspector .mat-mdc-text-field-wrapper {
    padding: 0px;
  }

  > .inspector .no-selection {
    text-align: center;
  }

  [aria-label='Diagram'] {
    outline: none;
  }

  > .sprotty-empty,
  > [aria-label='Diagram'] > .sprotty-graph,
  > [aria-label='Diagram'] > .sprotty-graph:focus {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    position: relative;
    overflow: hidden;
    border-style: none;
    outline: none;
  }

  > .label-edit {
    z-index: 1;
    margin-top: -60px;
  }
}

::ng-deep html[data-bs-theme='dark'] .sprotty {
  > .inspector {
    background-color: $body-bg-dark;
    color: $body-color-dark;
    border-color: $body-bg-dark;
  }

  > .inspector table tr {
    background-color: $body-tertiary-bg-dark;
    color: $body-color-dark;
  }
}

::ng-deep .cdk-describedby-message-container,
::ng-deep .cdk-overlay-container {
  position: fixed;
}

::ng-deep .sprotty-hidden {
  position: fixed;
}

::ng-deep .node > .sprotty-node {
  fill: $body-bg-dark;
  stroke-width: 1.5px;
  cursor: pointer;
}

::ng-deep html[data-bs-theme='dark'] .node > .sprotty-node {
  fill: $body-bg;
}

::ng-deep .node > .sprotty-node:not(.selected) {
  stroke: $body-bg-dark;
}

::ng-deep html[data-bs-theme='dark'] .node > .sprotty-node:not(.selected) {
  stroke: $body-bg;
}

::ng-deep .node .label {
  fill: $body-bg;
}

::ng-deep html[data-bs-theme='dark'] .node .label {
  fill: $body-bg-dark;
}

::ng-deep .sprotty-edge {
  cursor: pointer;
}

::ng-deep .sprotty-edge:not(.selected),
::ng-deep .sprotty-edge.feedback-edge {
  stroke: $body-bg-dark;
}

::ng-deep html[data-bs-theme='dark'] .sprotty-edge:not(.selected),
::ng-deep html[data-bs-theme='dark'] .sprotty-edge.feedback-edge {
  stroke: $body-bg;
}

::ng-deep .sprotty-edge .label {
  fill: $body-bg-dark;
}

::ng-deep html[data-bs-theme='dark'] .sprotty-edge .label {
  fill: $body-bg;
}
