<div class="d-flex flex-row align-items-center py-3 border-bottom">
  <div class="flex-fill">
    <search #search_input searchPlaceholder="Find languages..." [attributes]="[
    { name: 'name', title: 'Name', type: 'string', simple: true },
    { name: 'tag', title: 'Tag', type: 'string', simple: true },
    { name: 'version', title: 'Version', type: 'string', simple: true },
    { name: 'createdAt', title: 'Created at', type: 'Date' },
    { name: 'owner.username', title: 'Owner', type: 'string', simple: true },
    { name: 'metaElements.tag', title: 'Element', type: 'string', simple: true }
  ]" [(search)]="languagesSearch" (searchChange)="getLanguages()" [advanced]="false"></search>
  </div>
  <div *ngIf="!auth.loading && auth.user" class="flex-shrink-0 ms-3">
    <button class="btn btn-sm btn-success" (click)="newLanguage()">
      <fa-icon [icon]="'book'"></fa-icon> New
    </button>
  </div>
</div>
<div class="text-center mt-3" *ngIf="!languagesLoading && languages.length <= 0">
  <fa-icon class="fa-fade" [icon]="'magnifying-glass'" size="3x"></fa-icon>
  <p class="mt-2">No languages found</p>
</div>
<ngx-masonry #masonry [options]="{ percentPosition: true, horizontalOrder: true }" [ordered]="true" class="row mt-3"
  [class.loading]="languagesLoading" *ngIf="languages.length > 0">
  <div ngxMasonryItem class="col-12 col-md-6 col-lg-4 mb-4 masonry-item" *ngFor="let language of languages">
    <language-card [language]="language" [masonry]="masonry" [loading]="submitLoading.includes(language.id!)"
      (onDelete)="getLanguages()"></language-card>
  </div>
</ngx-masonry>
<ngb-pagination *ngIf="languagesCount > 0" class="d-flex justify-content-center mt-3" [(page)]="languagesPage"
  [pageSize]="languagesPageSize" [collectionSize]="languagesCount" (pageChange)="getLanguages()" size="sm" [maxSize]="3"
  [rotate]="true" [ellipses]="true" [boundaryLinks]="true">
</ngb-pagination>