<div *ngIf="instance">
  <div class="px-2 border-bottom">
    <h1>{{ instance.model }}</h1>
  </div>
  <div class="container px-2 row-hover">
    <ng-container *ngFor="let token of tokens; let last = last" [ngTemplateOutlet]="inspectorAttribute"
      [ngTemplateOutletContext]="{ token: token, instance: instance.values, path: '/', last: last }">
    </ng-container>
  </div>
</div>

<ng-template #inspectorAttribute let-token="token" let-parentToken="parentToken" let-instance="instance" let-path="path"
  let-index="index" let-last="last" let-canDelete="canDelete">
  <div class="row pt-2 pb-2 position-relative" [class.border-bottom]="!last" [class.can-delete]="canDelete">
    <ng-container [ngSwitch]="token.type">
      <ng-template [ngSwitchCase]="'text'">
        <div class="col-{{ token.fullLabel ? '12': '4' }}" *ngIf="token.label">
          <label class="form-label">
            {{ token.label }}
          </label>
        </div>
        <div class="col-{{ token.label && !token.fullLabel ? '8' : '12' }}">
          <input *ngIf="!token.input || token.input == 'text'" class="form-control form-control-sm" type="text"
            autocomplete="off" [placeholder]="token.placeholder ? token.placeholder: ''"
            [(ngModel)]="parentToken ? instance[parentToken.name][index] : instance[token.name]"
            (ngModelChange)="updateValue($event, instance, parentToken, index)" />
          <textarea *ngIf="token.input == 'textarea'" class="form-control form-control-sm" autocomplete="off"
            [placeholder]="token.placeholder ? token.placeholder: ''" [rows]="token.rows ? token.rows : '3'"
            [(ngModel)]="parentToken ? instance[parentToken.name][index] : instance[token.name]"
            (ngModelChange)="updateValue($event, instance, parentToken, index)"></textarea>
          <div class="invalid-feedback"></div>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="'bool'">
        <div class="col-{{ token.fullLabel ? '12': '4' }}">
          <label class="form-label" *ngIf="token.label">
            {{ token.label }}
          </label>
        </div>
        <div class="col-{{ token.label && !token.fullLabel ? '8' : '12' }}">
          <div class="form-check-reverse" [class.form-switch]="!token.input || token.input == 'switch'">
            <input class="form-check-input" [class.form-check-input-lg]="token.input == 'checkbox'" type="checkbox"
              role="switch" [(ngModel)]="parentToken ? instance[parentToken.name][index] : instance[token.name]"
              (ngModelChange)="updateValue($event, instance, parentToken, index)">
          </div>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="'enum'">
        <div class="col-{{ (!token.input || token.input == 'select') && !token.fullLabel ? '4': '12' }}"
          *ngIf="token.label">
          <label class="form-label">
            {{ token.label }}
          </label>
        </div>
        <div class="col-{{ (!token.input || token.input == 'select') && token.label && !token.fullLabel ? '8': '12' }}">
          <select *ngIf="!token.input || token.input == 'select'" class="form-select form-select-sm"
            [(ngModel)]="parentToken ? instance[parentToken.name][index] : instance[token.name]"
            (ngModelChange)="updateValue($event, instance, parentToken, index)">
            <option *ngFor="let option of token.options | keyvalue" [value]="option.key" [ngValue]="option.key">
              {{ option.value }}
            </option>
          </select>
          <ng-container *ngIf="token.input == 'radio'">
            <div *ngFor="let option of token.options | keyvalue; let radioIndex = index"
              class="form-check form-check-inline">
              <input class="form-check-input" type="radio"
                [(ngModel)]="parentToken ? instance[parentToken.name][index] : instance[token.name]"
                [value]="option.key" [name]="path + '.' + (parentToken ? index : token.name)"
                (ngModelChange)="updateValue($event, instance, parentToken, index)"
                [id]="path + '.' + (parentToken ? index : token.name) + '.' + radioIndex">
              <label class="form-check-label"
                [for]="path + '.' + (parentToken ? index : token.name) + '.' + radioIndex">
                {{ option.value }}
              </label>
            </div>
          </ng-container>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="'object'">
        <div class="col-12" *ngIf="token.label">
          <label class="form-label">
            {{ token.label }}
          </label>
        </div>
        <div class="col-12 bg-body-tertiary rounded border m-auto border-bar w-object">
          <ng-container *ngFor="let property of token.properties; let last = last"
            [ngTemplateOutlet]="inspectorAttribute" [ngTemplateOutletContext]="{
              token: property,
              instance: parentToken ? instance[parentToken.name][index] : instance[token.name],
              path: path + '.' + (parentToken ? index : token.name),
              last: last }">
          </ng-container>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="'list'">
        <div class="col-12">
          <label class="form-label">
            {{ token.label }}
          </label>
        </div>
        <div class="col-12 bg-body bg-opacity-75 rounded border m-auto w-list row-hover">
          <ng-container *ngFor="let item of (parentToken ? instance[parentToken.name][index] : instance[token.name]);
            let itemIndex = index; let last = last; trackBy: trackIndex" [ngTemplateOutlet]="inspectorAttribute"
            [ngTemplateOutletContext]="{
              token: token.item,
              parentToken: token,
              instance: parentToken ? instance[parentToken.name][index] : instance,
              path: path + '.' + (parentToken ? index : token.name),
              index: itemIndex,
              last: last,
              canDelete: true }">
          </ng-container>
        </div>
        <div class="col pt-2 text-center">
          <a class="btn btn-secondary btn-sm fw-semibold"
            (click)="addListItem(token.default, instance, token, parentToken, index)">
            Add {{ token.itemLabel ? token.itemLabel : 'Item' }} <fa-icon class="logo-icon" [icon]="'square-plus'"
              size="lg"></fa-icon>
          </a>
        </div>
      </ng-template>
    </ng-container>
    <div class="position-absolute w-auto" *ngIf="canDelete" style="right: 0px;">
      <a class="btn btn-danger btn-sm fw-semibold rounded-circle float-end opacity-75 btn-delete"
        (click)="deleteListItem(instance, token, parentToken, index)">
        <fa-icon class="logo-icon" [icon]="'times'"></fa-icon>
      </a>
    </div>
  </div>
</ng-template>
