<div class="row mt-3 text-center" *ngIf="profile.loading()">
  <fa-icon [icon]="'spinner'" [animation]="'spin-pulse'" size="3x"></fa-icon>
</div>
<div class="d-flex flex-column" *ngIf="!profile.loading() && profile.user">
  <div class="profile-separator d-none d-md-block">
    <div class="border-bottom profile-separator-border"></div>
  </div>
  <div class="row profile-content">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3">
      <div class="d-flex flex-row flex-md-column align-items-center align-items-md-baseline">
        <img
          class="mb-0 mb-md-3 me-3 me-md-0 img-thumbnail rounded-circle profile-img align-self-md-center border-secondary flex-shrink-0"
          [src]="profile.user()?.profile?.avatar" #avatar_img onerror="this.src='assets/images/default-user.png'" />
        <div class="d-flex flex-column">
          <h2 *ngIf="profile.user()?.profile?.name">{{ profile.user()?.profile?.name }}
            <verified-mark [verified]="profile.user()?.primaryEmail?.verified" />
          </h2>
          <h3 [class.text-muted]="profile.user()?.profile?.name">{{ profile.user()?.username }}
            <verified-mark *ngIf="!profile.user()?.profile?.name" [verified]="profile.user()?.primaryEmail?.verified" />
          </h3>
        </div>
      </div>
      <div class="text-md-pre-wrap text-break-all mt-3" *ngIf="profile.user()?.profile?.bio">{{
        profile.user()?.profile?.bio }}</div>
      <div class="mt-3">
        <a *ngIf="profile.user()?.id == auth.user?.id" class="btn btn-secondary btn-sm w-100"
          routerLink="/settings/profile">
          Edit your profile
        </a>
      </div>
      <div class="mt-3 d-flex flex-row" *ngIf="profile.user()?.profile?.location">
        <fa-icon class="me-2" [icon]="'location-dot'"></fa-icon>
        <div class="text-break">{{ profile.user()?.profile?.location }}</div>
      </div>
      <div class="mt-3 d-flex flex-row" *ngIf="profile.user()?.profile?.publicEmail?.address">
        <fa-icon class="me-2" [icon]="'envelope'"></fa-icon>
        <div class="text-break">
          <a href="mailto:{{ profile.user()?.profile?.publicEmail?.address }}">{{
            profile.user()?.profile?.publicEmail?.address }}</a>
        </div>
      </div>
      <div class="mt-3 d-flex flex-row" *ngIf="profile.user()?.profile?.url">
        <fa-icon class="me-2" [icon]="'link'"></fa-icon>
        <div class="text-break">
          <a href="{{ profile.user()?.profile?.url }}" target="_blank">{{ profile.user()?.profile?.url }}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-9">
      <div class="mt-3 mt-sm-2">
        <ul class="nav nav-tabs flex-nowrap overflow-x-auto overflow-y-hidden">
          <li class="nav-item flex-shrink-0">
            <a class="nav-link text-center pe-pointer text-body" routerLink="./overview" routerLinkActive="active">
              <fa-icon [icon]="'book-open'"></fa-icon> Overview
            </a>
          </li>
          <li class="nav-item flex-shrink-0">
            <a class="nav-link text-center pe-pointer text-body" routerLink="./languages" routerLinkActive="active">
              <fa-icon [icon]="'book'"></fa-icon> Languages
            </a>
          </li>
          <li class="nav-item flex-shrink-0">
            <a class="nav-link text-center pe-pointer text-body" routerLink="./models" routerLinkActive="active">
              <fa-icon [icon]="'diagram-project'"></fa-icon> Models
            </a>
          </li>
        </ul>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>